@page
@* @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers *@
@model IndexModel
@using Models.Types;
@using Models.Media;
@{
    ViewData["Title"] = "Home page";
}
@*
<div class="text-center">
    <component type="typeof(Components.BusinessMonth)" render-mode="ServerPrerendered" />
</div> *@

<table class="table table-striped">
    @{int ordinal = 0;}
    <tr><th>#</th><th>Name</th><th>SKU</th><th>Barcode</th></tr>
    @foreach (Part part in Model.AllPArts.OrderBy(part => part.Name))
    {
        <tr>
            <th>@(++ordinal)</th>
            <td>@part.Name</td>
            <td>@part.Sku.Value</td>
            <td><imgsrc="data:@part.Sku.ToCode39(25).EncodeBase64().Content" /></td>
        </tr>
    }
</table>
